{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css'%}" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <header class="page__header">
        <button class="nav-burger">=</button>
        <img class="header__logo" src="{% static 'logos/Viacole_White.png'%}"/>
        <div></div>
    </header>
    <nav class="nav">
        <a>
            <li>HOME</li>
        </a>
        <a>
            <li>SERVICES</li>
        </a>
        <a>
            <li>PORTAL</li>
        </a>
    </nav>
    {% block content %}{% endblock content %}


    {% block scripts %}
    {% endblock scripts %}
</body>


</html>