{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css'%}" type="text/css"/>
    <title>{{meta.tab_title}}</title>
    <meta name="description" content="{{meta.description}}"/>
</head>
<body>
    <header class="page__header">
        <button class="nav-burger">
            <div class="burger-line"></div>
            <div class="burger-line"></div>
            <div class="burger-line"></div>
        </button>
        <img class="header__logo" src="{% static 'logos/Viacole_White.png'%}"/>
        <div class="nav__padding-right"></div>
    </header>
    <div class="nav__header">
        <button class="nav-burger">
            <div class="burger-line"></div>
            <div class="burger-line"></div>
            <div class="burger-line"></div>
        </button>
        <div>
            <img class="header__logo nav__logo" src="{% static 'logos/Viacole_White.png'%}"/>
        </div>
        <div class="nav__padding-right"></div>
    </div>
    <nav class="nav">
        <button class="nav__close">
            <svg width="20" height="20">
            <path style="stroke:#ffffff; stroke-width:3; stroke-linecap:round;" d="M2 2 L18 18 Z"/>
                <path style="stroke:#ffffff; stroke-width:3; stroke-linecap:round;" d="M18 2 L2 18 Z"/>
            </svg>
        </button>

        <a href="{% url 'promo:home' %}">
            <li>HOME</li>
        </a>
        <a href="{% url 'promo:about' %}">
            <li>ABOUT</li>
        </a>
        <a href="{% url 'promo:categories' %}">
            <li>CATEGORIES</li>
        </a>
        <a href="{% url 'promo:services' %}">

            <li>SERVICES</li>
        </a>
        <div class="nav__footer">
            <div>
                <a href="">
                    <span>FAQ</span>
                </a>
                <span> . </span>
                <a href="{% url 'promo:terms' %}">
                    <span>TERMS</span>
                </a>
            </div>
            <div class="social__accounts">
                {% for social in social_accounts %}
                <div class="social__account">
                    {{ social.icon|safe}}
                </div>
                {% endfor %}
            </div>
        </div>
    </nav>

    {% block content %}
    
    {% endblock content %}


    <footer>
        <div class="footer__content">
            
            <div class="copyright">
                <span>&copy; Copyright VIACOLE {% now "Y" %}</span>
            </div>
        </div>
    </footer>

    <script>
        const closeButton = document.querySelector(".nav__close");
        const nav = document.querySelector(".nav");
        const burgers = document.querySelectorAll(".nav-burger");
        const headerNav = document.querySelector('.nav__header');
        let currentScroll = window.scrollY;
        let headerNavIsShowing = false;


        const openNav = () => {
            headerNav.classList.remove("show");
            nav.classList.add("open");
        }

        const closeNav = () => {
            nav.classList.remove("open");
            console.log("THis should close the nav bar")
        }

        burgers.forEach(b => {
            b.addEventListener('click', openNav);
        })

        closeButton.addEventListener('click', closeNav);

        document.addEventListener('scroll',(e) => {
            if(currentScroll > window.scrollY && window.scrollY > 600) {
                headerNav.classList.add("show");
            } else if (currentScroll < window.scrollY || window.scrollY < 600) {
                headerNav.classList.remove("show");
            }

            currentScroll = window.scrollY;
        } )
        document.addEventListener('scrollend', () => {
            let holder = currentScroll;
            setTimeout(() => {
                if(currentScroll === holder) {

                    headerNav.classList.remove("show");
                }
            }, 4000)

        })
    </script>
    {% block scripts %}
    {% endblock scripts %}
</body>


</html>