{% extends "promo/base.html" %}

{% block content %}
<a href="{% url 'account_signup' %}" class="btn global-get-quote__button">start now | register</a>
<section class="legend">
    <video class="legend__video" preload="none" autoplay muted loop>
        <source src={{legend.file.url}}>
    </video>
    <div class="grid-pattern">
        <div class="col-end"></div>
        <div class="col-end"></div>
        <div class="col-end"></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="col-end"></div>
        <div class="col-end"></div>
        <div class="col-end"></div>
    </div>
    <div class="legend__overlay">
        <h1 class="legend__header">{{legend.title}}</h1>    
        <p class="legend__subheader">{{legend.info}}</p>     
        <nav class="legend__nav">
            <li class="legend__nav-item" ><a>CATEOGIRES</a></li>
            <li class="legend__nav-item"><a href="{% url 'promo:services' %}">SERVICES</a></li>
            <li class="legend__nav-item"><a href="{% url 'account_signup' %}">REGISTER</a></li>
        </nav>
    </div>
</section>
<section class="services-link">
    <div class="services-link__content">
        <span>SERVICES</span>
        <a class="btn-link" href="{% url 'promo:services' %}">view all</a>
    </div>
</section>
<section class="compare-slider">
    <div class="compare-slider__slide-wrapper left">
        <div class="compare-slider__slide">
            <img class="compare-slider__image" src="{{compare.image_one.url}}"/>
            <div class="compare-slider__overlay">

                <div class="compare-slider__text left">
                    <h2>{{compare.title_one}}</h2>
                    <p>{{ compare.info_one}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="compare-slider__slide-wrapper right">
        <div class="compare-slider__slide right">
            <img class="compare-slider__image right" src="{{compare.image_two.url}}"/>
            <div class="compare-slider__overlay">

                <div class="compare-slider__text right">
                    <h2>{{compare.title_two}}</h2>
                    <p>{{ compare.info_two}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="featured">
    <video autoplay muted loop>
        <source src="{{featured_video.file.url}}"/>
    </video>
    <div class="featured__overlay">
        <h3 class="featured__label">FEATURED</h3>
        <p class="featured__title">{{featured.title|upper }}</p>
    </div>
</section>
<section class="category">
    <div class="category-slider__wrapper">
        <div class="category-slider__arrow">
            <button class="category-slider__arrow-button">-></button>
        </div>
        <div class="category-slider__container">

            {% for category in categories %}
            {% if forloop.counter == 1 %}
            <div class="category-slide current draggable">
            {% else %}
            <div class="category-slide  draggable">
            {% endif %}
                <div class="category-slide__image">
                   
                    <video autoplay muted loop>
                        <source src="{{ category.video.url }}">

                    </video>
                   

                </div>
                <h2 class="category-slide__title">{{category.title|upper}}</h2>
                <p class="category-slide__description">{{category.description}}</p>
            </div>
            {% endfor %}
           
           {% comment %}  <div class="category-slide draggable">
                <div class="category-slide__image"></div>
                
            </div>
            <div class="category-slide draggable">
                <div class="category-slide__image"></div>
                
            </div>
            <div class="category-slide draggable">
                <div class="category-slide__image"></div>
                
            </div> {% endcomment %}
            
           
        </div>
    </div>
</section>

<section class="testimonials">
{% for testimonial in testimonials %}
<div class="testimonial">
    <img class="testimonial__img" src="{{testimonial.image.url}}"/>
    <div class="testimonial__overlay">
        <p class="testimonial__statement">" {{testimonial.statement}} "</p>
        <span class="testimonial__client">{{testimonial.client_type}}</span>
    </div>
</div>
{% endfor %}
</section>    
{% endblock content %}

{% block scripts %}
<script>
    const compareSlider = document.querySelector(".compare-slider");
    const slideTwo = document.querySelector('.compare-slider__slide.right');

    const categorySlider = document.querySelector(".category-slider__container");
    let categorySlides = document.querySelectorAll('.category-slide');
    const categoryNextButton = document.querySelector('.category-slider__arrow-button');





    const testimonals = document.querySelectorAll(".testimonial");

    const calculateCols = transformPercent => {
        const rightPercent = 100 - transformPercent;
        const str = `grid-template-columns: ${transformPercent + '%' + ' ' + rightPercent + "%;"}`
        compareSlider.style = str;
    }
    const calculateTranslate = transformPercent => {
        _style = `translate: ${-transformPercent}lvw 0;`;
        slideTwo.style = _style;
    }

    const calculateImageSlider = (e) => {

        if (window.innerWidth < 768) {return;}
        const xPos = e.clientX ? e.clientX : e.touches[0].clientX
        const transformPercent =  (xPos / (window.innerWidth - 15)) * 100;
        calculateTranslate(transformPercent);
        calculateCols(transformPercent);

        
    }

    compareSlider.addEventListener('mousemove', e => {
        calculateImageSlider(e);
    })

    compareSlider.addEventListener('touchstart', e => {
        e.preventDefault();
        console.log(e.type)
        calculateImageSlider(e);
    })
    compareSlider.addEventListener('touchmove', e => {
        e.preventDefault();
        calculateImageSlider(e);
    })




   
    categoryNextButton.addEventListener('click', e => {
        const current = [...categorySlides].find(s => s.classList.contains("current"));
        const next = current.nextElementSibling;
        categorySlider.classList.add('animating-left');
        const duplicate = current.cloneNode(true);
        categorySlides = document.querySelectorAll('.category-slide');
        current.classList.remove("current");
        setTimeout(() => {
            
            categorySlider.appendChild(duplicate);
            duplicate.classList.remove("current");
            next.classList.add("current");
            categorySlider.classList.remove('animating-left');
           current.remove();
        },600);


    })


    const setActiveTestimonial = (e) => {
        testimonals.forEach(t =>  t.classList.remove("active"))
        e.target.classList.add("active");
    }

    testimonals[0].classList.add("active");

    testimonals[0].parentElement.addEventListener("mouseleave", () => {
        testimonals.forEach(t =>  t.classList.remove("active"))
        testimonals[0].classList.add("active");
    })
    testimonals.forEach(t => {
        return t.addEventListener('mouseenter', setActiveTestimonial);
    })

</script>
{% endblock scripts %}