/* --- START BASE STYLES --- */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts//Poppins/Poppins-Regular.ttf');
}


@font-face {
    font-family: 'PoppinsLight';
    src: url('../fonts//Poppins/Poppins-Light.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin:0;
    padding:0;
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Poppins' , serif;
}

input,button,label,textarea, select {
    font-family: inherit;
    color:inherit;
}

video, img, canvas {
    max-width:100%;
    max-height:100%;
    display:block;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight:400;
}

a:any-link {
    text-decoration: none;
    color:inherit;
}

#root, #__next {
    isolation: isolate;
}


/* --- END BASE STYLES --- */

/* --- START CORE STYLES --- */

.nav {
    position:fixed;
    width:300px;
    height:100%;
    background-color:#000;
    z-index:20;
    list-style-type: none;
    padding:1rem;
    translate: -100% 0;
    transition:1s;
    display:flex;
    flex-direction: column;
    gap:2rem;
}

.nav-burger {
    background-color:transparent;
    border:none;
    cursor:pointer;
}

.burger-line {
    width:20px;
    height:2px; 
    background-color:#fff;
    margin-block:5px;
}
.nav.open {
    transition:1s;
    translate: 0 0;
}

.nav__logo {
    margin-bottom:5rem;
}

.nav__close {
    background-color:transparent;
}

.btn {
    border: 1px solid rgba(200,200,200,0.5);
    background-color:rgba(0,0,0,0.2);
    border-radius:2rem;
    padding: 1.3rem 2rem;
    cursor:pointer;
}
.btn-link {
    border: 1px solid rgba(200,200,200,0.5);
    background-color:rgba(0,0,0,0.2);
    border-radius:2rem;
    padding: 1.3rem 2rem;
    min-width:8rem;
    cursor:pointer;
}

main.standard__content, section.standard__content {
    padding-top:10rem; 
    max-width:1200px; 
    margin-inline: auto;
}

.standard__page-title {
    padding-block:3rem;
}

/* main.full__content {
    padding-top:10rem; 

} */

.grid-pattern {
    display: grid;
    grid-template-columns: 9rem 1fr 11rem;
    grid-template-rows: 9rem 1fr 9rem;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
.grid-pattern > div {
    border-bottom:1px solid rgba(200,200,200, 0.2);
    border-right:1px solid rgba(200,200,200, 0.2);
}
.grid-pattern > .row-end {
    border-right: none;
}

.grid-pattern > .col-end {
    border-bottom: none;
}

.page__header {
    position:absolute; top:0; left:0; 
    width:100%;
    z-index:7;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block:5rem;
    padding-inline:4rem;
}

.header__logo {
    max-width:200px;
}

footer {
    width:100%;
    padding:0 5rem; 
    background-color:#000;
}


/* --- END CORE STYLES --- */



.global-get-quote__button {
    position: fixed;
    top:3rem;
    right:4rem;
    z-index:50;
    font-size: 1rem;
}


.legend {
    width:100%;
    height:100lvh;
    position:relative;

}

.legend__video {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.legend__overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:radial-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.7));
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap:1rem;
    padding-bottom:5rem;
}

.legend__header {
    font-size:2rem;
    text-align: center;
}

.legend__subheader {
    letter-spacing: 3px;
    padding-bottom:3rem;
    font-size:0.9rem;
}

.legend__nav {
    display:flex;
    gap:2rem;
    font-size:0.7rem;
    list-style-type: none;
    color: #ccc;
}

.legend__nav-item {
    border-bottom:1px solid rgb(200,200,200);
    padding-bottom:0.5rem;
    padding-inline: 0.7rem;
}

.services-link {
    width:100%;
    padding-inline:9rem;
}
.services-link__content {
    padding-block:3rem;
    padding-inline:1rem;
    border-left:1px solid #323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.compare-slider {
    height:600px; 
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    cursor:grabbing;
    margin-bottom:6rem;

}
.compare-slider__slide-wrapper  {
    height:100%; 
    overflow: hidden;

}
.compare-slider__slide-wrapper.left  {
    background-color:red;
    border-right:1px solid #fff;
}

.compare-slider__slide-wrapper.right  {
    background-color:blue;
}


.compare-slider__slide {
    width:100vw;
    height:100%;
    position:relative;
}
.compare-slider__slide.right {
    translate: -50% 0;
}
.compare-slider__image {
    width:100%;
    height:100%;
    /* object-fit: cover; */
    position:absolute;
    z-index:9;
}
.compare-slider__overlay {
    background-color:rgba(0,0,0,0.2);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10;
}
.compare-slider__text {
    position:absolute;
    padding-bottom:5rem;
    bottom:0;
    z-index:10;
    max-width:65ch;
}

.compare-slider__text.left {
    left:0;
    padding-left:9rem;
    
}
.compare-slider__text.right {
    right:0;
    padding-right:9rem;
    text-align:right;
    
}

.featured {
    position:relative; 
    aspect-ratio: 16/7;
    width:100%;
    margin-bottom:5rem;

}

.featured video {
position:absolute;
top:0;
left:0;
width:100%;
object-fit:cover;
}
.featured__overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.2);
    display: flex; 
    flex-direction:column; 
    justify-content: flex-end;
    align-items: baseline;
    padding-left:9rem;
    padding-bottom:5rem;
}
.featured__label {
    font-size:0.8rem; 
    font-weight:200;
}

.featured__title {
    font-size:1.6rem; 
    font-weight:200;
}

.portfolio-slider__wrapper {
    overflow-x: hidden;
    width:100%;
    position: relative;
    padding-block:2rem;
    margin-block:5rem;
}
.portfolio-slider__container {
    width:160%;
    overflow-x:hidden;
    display:flex;
    flex-grow:none;
    align-items: center;
    gap:1rem;
    padding-block:4rem;

}

section.service {
    min-height:90lvh;
    display:grid;
    grid-template-columns: 70% 30%;
   
    grid-template-areas: 'details image';
    padding-bottom:4rem;
}
section.service:nth-of-type(even) {
    grid-template-columns: 30% 70%;
    grid-template-areas: 'image details';
    text-align:right;

}
.service__details {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    grid-area: details;
}
section.service:nth-of-type(even) .service__details {
    align-items:flex-end;
}
.service__details p {
    max-width: 65ch;
    padding-bottom:2rem;
}

.service__image {
    position: relative;
    grid-area: image;
}
.service__image img {
    width:100%;
    height:100%;
    object-fit: cover;
}


.about__section {
    min-height:100vh;
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 'details img';
    margin-bottom:5rem;
}
.about__section:nth-of-type(even) {
    grid-template-columns: 40% 60%;
    grid-template-areas: 'img details';
}

.about__details {
    padding-left:9rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    grid-area: details;
}
.about__details p {
    max-width: 65ch;;
}
.about__image {
    background-color:grey;
    grid-area: img
}



/* .portfolio-slider__container:not(:has(.portfolio-slide.current)) {
    padding-block:4rem;
} */

@keyframes leftScroll {
    from {
        translate: 0 0;
    }
    to {
        translate: calc(-100% - 1rem) 0;
    }
}
.portfolio-slider__container.animating-left .portfolio-slide {
    animation: leftScroll .4s .2s ease;
    animation-fill-mode: both;
}
.portfolio-slider__container::-webkit-scrollbar {
    width:0;
    height:0;
}
.portfolio-slide {
    aspect-ratio: 7/6;
    width:30%;
    position:relative;
    transform-origin: 0% 50%;
    margin-right: 0;
    transition: .3s;
    &.current {
        scale:1.2;
        transition:.3s;
        z-index:5;

    }
}

.portfolio-slide__title {
    transition: .5s .5s ease;
    padding-left:2rem;
    margin-top:-1rem;
}
.portfolio-slide__title:not(.portfolio-slide.current .portfolio-slide__title) {
   
    opacity:0;
}

.portfolio-slide:not(.current) .overlaqy{
background-color: rgb(0,0,0, 0.3);
}
.portfolio-slide__image {
    width:100%;
    height:100%;
    background-color:grey;

  
}

.portfolio-slide video {
    object-fit: cover;
    width:100%;
    height:100%;
}
.portfolio-slider__arrow {
    position: absolute;
    top:calc(50% - 25px);
    right:2rem;
    height:50px;
    width:50px;
    background-color:transparent;
    z-index:50;

    & button {
        width:100%;
        height:100%;
        border-radius:50%;
        background-color: transparent;
        border: 2px solid rgb(255,255,255);
    }
}



.testimonials {
    display:flex;
    aspect-ratio: 2/1;
}
.testimonial {
    flex: 25%;
    transition:0.5s;
    position:relative;
    
}
.testimonial.active {
    flex: 50%;
    transition:0.5s;
}

.testimonial__img {
    object-fit: cover;
    position:absolute;
    width:100%;
    height:100%;
}
.testimonial__overlay {
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:.5s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    padding:4rem;
}
.testimonial__statement {
    opacity:0;
    transition:.2s;
    font-size:1.3rem;
}

.testimonial.active .testimonial__statement {
    font-size:1.5rem;
    transition: .2s .5s;
    opacity:1;
}
.testimonial.active .testimonial__overlay {
    background-color: rgba(0,0,0,0.2);
}


.terms {
    padding-bottom:1rem;
    padding-inline:1rem;
}
.terms.subsection {
    padding-left:3rem;
}
.terms:not(.terms.subsection) {
    border-top: 1px solid #666666;
    margin-top:2rem;
    padding-top:1rem;
}
.terms h1 {
    padding-bottom:.5rem;
}


@media (max-width:768px) {
    html {
        font-size:.8rem;
    }
    .grid-pattern {
        display: none;
    }
    .compare-slider {
        display:block;
        height:unset;
    }

    .compare-slider__slide-wrapper {
        aspect-ratio: 16/9;
    }
    .portfolio-slider__container {
        width:300%;
    }
    .portfolio-slide {
        aspect-ratio:5/7;
        width:40%;
        &.current {
            width:60%;
            scale:1.1;
        }
    }
    .testimonials {
        aspect-ratio:4/3
    }
    .testimonial__overlay {
        padding:2rem;
    }
    .testimonial__statement {
        font-size:1rem;
    }
}