/* --- START BASE STYLES --- */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts//Poppins/Poppins-Regular.ttf');
}


@font-face {
    font-family: 'PoppinsLight';
    src: url('../fonts//Poppins/Poppins-Light.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin:0;
    padding:0;
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Poppins' , serif;
}

input,button,label,textarea, select {
    font-family: inherit;
    color:inherit;
}

video, img, canvas {
    max-width:100%;
    max-height:100%;
    display:block;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight:400;
}

#root, #__next {
    isolation: isolate;
}


/* --- END BASE STYLES --- */

/* --- START CORE STYLES --- */

.btn {
    border: 1px solid rgba(200,200,200,0.5);
    background-color:rgba(0,0,0,0.2);
    border-radius:2rem;
    padding: 1.3rem 2rem;
}



.grid-pattern {
    display: grid;
    grid-template-columns: 9rem 1fr 11rem;
    grid-template-rows: 9rem 1fr 9rem;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
.grid-pattern > div {
    border-bottom:1px solid rgba(200,200,200, 0.2);
    border-right:1px solid rgba(200,200,200, 0.2);
}
.grid-pattern > .row-end {
    border-right: none;
}

.grid-pattern > .col-end {
    border-bottom: none;
}


/* --- END CORE STYLES --- */



.global-get-quote__button {
    position: fixed;
    top:3rem;
    right:4rem;
    z-index:50;
    font-size: 1rem;
}


.legend {
    width:100%;
    height:100lvh;
    position:relative;

}

.legend__video {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.legend__overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:radial-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.7));
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap:1rem;
    padding-bottom:5rem;
}

.legend__header {
    font-size:2rem;
}

.legend__subheader {
    letter-spacing: 3px;
    padding-bottom:3rem;
    font-size:0.9rem;
}

.legend__nav {
    display:flex;
    gap:2rem;
    font-size:0.7rem;
    list-style-type: none;
    color: #ccc;
}

.legend__nav-item {
    border-bottom:1px solid rgb(200,200,200);
    padding-bottom:0.5rem;
    padding-inline: 0.7rem;
}

.services-link {
    width:100%;
    padding-inline:9rem;
}
.services-link__content {
    padding-block:3rem;
    padding-inline:1rem;
    border-left:1px solid #323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.compare-slider {
    height:600px; 
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    cursor:grabbing;
    margin-bottom:6rem;

}
.compare-slider__slide-wrapper  {
    height:100%; 
    overflow: hidden;

}
.compare-slider__slide-wrapper.left  {
    background-color:red;
    border-right:1px solid #fff;
}

.compare-slider__slide-wrapper.right  {
    background-color:blue;
}


.compare-slider__slide {
    width:100vw;
    height:100%;
    position:relative;
}
.compare-slider__slide.right {
    translate: -50% 0;
}
.compare-slider__image {
    width:100%;
    height:100%;
    /* object-fit: cover; */
    position:absolute;
    z-index:9;
}
.compare-slider__overlay {
    background-color:rgba(0,0,0,0.2);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10;
}
.compare-slider__text {
    position:absolute;
    padding-bottom:5rem;
    bottom:0;
    z-index:10;
    max-width:65ch;
}

.compare-slider__text.left {
    left:0;
    padding-left:9rem;
    
}
.compare-slider__text.right {
    right:0;
    padding-right:9rem;
    text-align:right;
    
}

.featured {
    position:relative; 
    aspect-ratio: 16/7;
    width:100%;
    margin-bottom:5rem;

}

.featured video {
position:absolute;
top:0;
left:0;
width:100%;
object-fit:cover;
}
.featured__overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.2);
    display: flex; 
    flex-direction:column; 
    justify-content: flex-end;
    align-items: baseline;
    padding-left:9rem;
    padding-bottom:5rem;
}
.featured__label {
    font-size:0.8rem; 
    font-weight:200;
}

.featured__title {
    font-size:1.6rem; 
    font-weight:200;
}

.portfolio-slider__wrapper {
    overflow-x: hidden;
    width:100%;
    position: relative;
    padding-block:2rem;
}
.portfolio-slider__container {
    width:160%;
    overflow-x:hidden;
    display:flex;
    flex-grow:none;
    align-items: center;
    gap:1rem;

}
.portfolio-slider__container::-webkit-scrollbar {
    width:0;
    height:0;
}
.portfolio-slide {
    aspect-ratio: 6/3;
    width:20%;
    position:relative;
    transform-origin: 0% 50%;
    &.current {
        width: 25%;
        margin-right:-1rem;
    }
}
.portfolio-slide__image {
    width:100%;
    height:100%;
    background-color:grey;

  
}
.portfolio-slider__arrow {
    position: absolute;
    top:calc(50% - 25px);
    right:2rem;
    height:50px;
    width:50px;
    background-color:aqua;
    z-index:50;

    & button {
        width:100%;
        height:100%;
        border-radius:50%;
    }
}